* {
    padding: 0px;
    margin: 0px;
   
}
body{
    background: url(../img/andres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}
.lateral {
    background-color: rgb(207, 207, 207);
    position: fixed;
    bottom: 10px;
    width: 250px;
    right: 10px;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    list-style: none;

}

.tabla, .lista{
    display: block;
    color: black;
    padding-top: 20px;
    padding-left: 25px;
    font-family: sans-serif;
    font-size: 14px;
}
span{
    margin-left: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 2px 2px 2px 10px ;
}
.lists{
    padding-bottom: 15px;
}

.lists:hover{
    cursor: pointer;
background-color: #a8aeb3;
border-radius: 5px;
height: 25px;
}
.lists i{
    font-size: 20px;
    color: #5b6bb3;

}
.listos{
    margin-bottom: 20px;
    font-size: 20px;
    color: #5c7f97;
}