*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    background-color: rgb(48,48,48,8);
    font-size: 1.3rem;
}
ul{
    height: 500px;
    text-align: left;
    margin-left: 50px;
    list-style: none;
}
li{
    margin: 20px;
    
}

/* .menu {
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    background-color: rgba(70, 70, 70, 0.9);
    height: 80px;
    box-shadow: 8px 8px 9px rgb(71, 71, 71);
}
.item-menu {
    display: block;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-size: 1.4rem;
    border-right: 1px solid rgb(0, 0, 0) ;
}
.item-main-menu {
    height: 80px;
    display: inline-block;
    padding: 30px 45px;   
} */