* {
     font-family: sans-serif;
}
.tabla-box{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
    
}
td,th{
    border: 1px solid rgb(64,64,64.9);
    padding: 10px 15px 8px 15px;
}
.dc-color{
    background-color: aqua;
    border-top-left-radius: px;
    color: white;
}
.estyl-box{
    background-color: aqua; 
}
.esty-box{
    background-color: gray;
}
.verde-box{
background-color: rgb(26, 153, 26, 0.733);
}
.blu-box{
background-color: blue ;
}
.naranja{
background-color: orange;
}
.morado{
background-color: purple;
}